.table {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(9, max-content);
}
.table-header-val {
    text-transform: capitalize;
}

.table-row {
    display: inline-grid;
    /* grid-template-columns: repeat(9, max-content); */
}
